<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>

<a th:href="@{/hkBanner/addHkBanner}">添加数据</a><br><br><br>
<a th:href="@{/hkBanner/delBanner}">删除数据</a><br><br><br>
<a th:href="@{/hkBanner/update}">更新数据</a>
</body>
</html>